 * { background-color: rgb(11, 241, 241);
    font-family: 'Times New Roman', Times, serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10;
    font-size: medium 45;
    
    



} 
